extends layout.pug
    
block content    
    ////////////  
    // STYLE //
    // style.
        img {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
        }

    //////////////
    // CONTENT //
    
    a(onclick='goBack()', class = 'back-button button') < Back to dashboard

    h1 Your entire Spotify rewrapped! ✨

    h2 Rediscover the overlooked tunes of your library.

    a(href=`/createplaylist?playlistname=${'My Music Library - (Re)Wrapped!'}`, class="create-playlist-button button") Add  playlist to Spotify library

    div
        if tracks && tracks.length > 0
            table
                  tr
                    td(class='column-header') #
                    td
                    td(class='column-header') Title
                    td(class='column-header') Album
                    td(class='column-header') Preview
                  each t in tracks
                    tr
                      - var artist_name = t.artists[0].name
                      - var artist_uri = t.artists[0].uri
                      - var track_name = t.name
                      - var track_preview = t.preview_url
                      - var album_cover_url = t.album_cover_url
                      - var album_uri = t.album_uri
                      - var album_name = t.album_name
                      - var track_uri = t.uri

                      td(class='track-detail') #{tracks.indexOf(t) + 1}
                      td: a(href=album_uri): img(src=album_cover_url, class='album-thumbnail', alt='Album cover for' + album_name)
                      td: div(class='track-title')
                          a(href=track_uri, class='track-title') #{track_name}
                          a(href=artist_uri, class='track-detail') #{artist_name}
                      td: a(href=album_uri class='track-detail') #{album_name}
                      td: audio(preload="auto", autobuffer, controls)
                          source(src=track_preview)
        else 
            p.empty-library It’s unusually quiet in here... Looks like there are no tracks yet! It's the perfect moment to start adding some. 

    //////////////
    // SCRIPTS //
    script.
        function goBack() {
            window.history.back();
        }