extends layout.pug
    
block title
  title Rewrap Playlist | Spotify (Re)Wrapped

block content  
    ////////////  
    // STYLE //
    style.
        img.playlist_image {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
        }
        h1, h2, p {
            text-align: center;
        }
        @media (orientation: portrait) {
            img.playlist_image {
                width: 30em;
                height: 30em;
            }
        }

    //////////////
    // CONTENT //

    // a(onclick='goBack()', class = 'back-button button') < Back to dashboard
    a(href=`/dashboard?userid=${userid}`, class = 'back-button button') < Back to dashboard
    
    if playlist.images && playlist.images.length > 0
        img(src=playlist.images[0].url, class='playlist_image')
    else
        img(src="https://www.solidbackgrounds.com/images/1920x1080/1920x1080-gray-solid-color-background.jpg", class='playlist_image')
    
    h1 Here's #{playlist.name}, rewrapped! ✨
    
    a(href=`/createplaylist?playlistname=${playlist.name}&userid=${userid}`, class="create-playlist-button button") Add playlist to Spotify library

    // Now that I think of it, the line below isn't necessary. I'm pretty sure people know that ADD doesn't mean EDIT.
    // p (This will create a new playlist from only these songs. It won't modify the original playlist!)
    
    h2 Here are your less listened-to tracks from this playlist.
    
    div
        if tracks && tracks.length > 0
            table
                  tr
                    td(class='column-header') #
                    td
                    td(class='column-header') Title
                    td(class='column-header') Album
                    td(class='column-header') Preview
                  each t in tracks
                    tr
                      - var artist_name = t.artists[0].name
                      - var artist_uri = t.artists[0].uri
                      - var track_name = t.name
                      - var track_preview = t.preview_url
                      - var album_cover_url = t.album_cover_url
                      - var album_uri = t.album_uri
                      - var album_name = t.album_name
                      - var track_uri = t.uri

                      td(class='track-detail') #{tracks.indexOf(t) + 1}
                      td: a(href=album_uri): img(src=album_cover_url, class='album-thumbnail', alt='Album cover for' + album_name)
                      td: div(class='track-title')
                          a(href=track_uri, class='track-title') #{track_name}
                          a(href=artist_uri, class='track-detail') #{artist_name}
                      td: a(href=album_uri class='track-detail') #{album_name}
                      td: audio(preload="auto", autobuffer, controls)
                          source(src=track_preview)
        else 
            p.empty-library  Nothing to rewrap here... Looks like your playlist is on vacation, or you've really been giving those tracks a workout too recently to unwrap!

    //////////////
    // SCRIPTS //
    script.
        function goBack() {
            window.history.back();
        }

       