extends layout.pug
    
block content  
    ////////////  
    // STYLE //
    style.
        img {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
        }

    //////////////
    // CONTENT //

    a(onclick='goBack()', class = 'back-button button') < Back to dashboard
    
    if playlist.images && playlist.images.length > 0
        img(src=playlist.images[0].url, class='playlist_image')
    else
        img(src="https://www.solidbackgrounds.com/images/1920x1080/1920x1080-gray-solid-color-background.jpg", class='playlist_image')
    
    h1 #{playlist.name}
    
    
    a(href="/createplaylist", class="create-playlist-button button") Create Playlist



    h2 Your most least recently listened-to tracks from this playlist, rewrapped!
    
    div
        if tracks && tracks.length > 0
            table 
                each t in tracks
                    tr 
                        - var artist_name = t.artists[0].name
                        - var track_name = t.name
                        - var track_preview = t.preview_url
                        - var artist_id = t.artists[0].id
                        - var album_cover = t.album.images[0].url
                        - var track_id = t.id 
                        - var track_popularity = t.popularity
                        - var track_ms = t.duration_ms 

                        td: img(src=album_cover, style="width:50px;height:50px;")
                        td #{track_name} - #{artist_name}
                        //td: a(href=track_preview) Preview
                        td: audio(preload="auto", autobuffer, controls)
                        source(src=track_preview)
        else 
            p We couldn't find any songs in your playlist to rewrap! Time to lay down some new tracks!


    //////////////
    // SCRIPTS //
    script.
        function goBack() {
            window.history.back();
        }

       